

<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 


  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
  <h1 class="display-8"><%= title %></h1>
  
  
<body>
<h2>My name is <%= name %></h2>

<div>
    <p><%= paragraph %></p>
    <div class="container">
        <img src="/images/me.jpg"  width="300" height="310" style="float:right" alt="me">
        &nbsp;
        &nbsp;
    </div>
    &nbsp;
    <h2><%= key %></h2>
   
    <ul>
        <li><a>I am and always be a student. I will keep being a student after the completion of my studies. I plan to be a lifelong learning of programing.</a></li>
        <li><a>I am part of a team. I will always strieve to work seemly in a team.  </a></li>
        <li><a>I am an optimist and a realist. I will always strieve to see the good side of things and be a positive programmer.</a></li>
        <li><a>I am an engineer. I will apply good software engineering methodology to any problem that I encounter.</a></li>
        <li><a>I am a a software craftsman. I am proud of my work and understand the importance of good coding.</a></li>
    </ul>
    &nbsp;
    <h3><%= resume %></h3>
    
    <li><a href="\Assets\Goodnews Iyeteku- Soft Resume.pdf">RESUME</a></li>
</div>

</body>
  
</div>

</main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 


