<!--Goodnews Iyeteku Centennial College 301163363 Summer 2021-->


<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 


  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
  <h1 class="display-5"><%= title %></h1>
  
</div>

<body background="/images/back3.png">
  <div class="container">
      <img src="/images/logo.png" alt="white7">
      &nbsp;
      &nbsp;
  </div>

  &nbsp;
    &nbsp;
   
</body>


</main>
<div class="container">
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" href="/about" role="button">About Me</a>
    <a class="btn btn-primary" href="/contact" role="button">Contact Me</a>
</div>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 


